<div class="former">
	<form class="custom">
		<ul id="sortme">
						
		{% if settings.sort-dropdown-b-check %}
		  <li class="clearfix filter size-filter">
		    {% assign tags = settings.sort_by_size  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
		    {% assign tags_numbers = settings.sort_by_size_number  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
		    {% assign tags_numbers_2 = settings.sort_by_size_number_2  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
		    <select class="coll-filter">
		      <option value="">Shop by Size</option>
		      
		      {% for tag in tags %}
		        {% if current_tags contains tag %}
		          <option value="{{ tag | handle }}" selected>{{ tag }}</option>
		        {% elsif collection.all_tags contains tag %}
		          <option value="{{ tag | handle }}">{{ tag }}</option>
		        {% endif %}
		      {% endfor %}
		      
		      {% for tag in tags_numbers %}
		        {% if current_tags contains tag %}
		          <option value="{{ tag | handle }}" selected>{{ tag }}</option>
		        {% elsif collection.all_tags contains tag %}
		          <option value="{{ tag | handle }}">{{ tag }}</option>
		        {% endif %}
		      {% endfor %}
              
              {% for tag in tags_numbers_2 %}
		        {% if current_tags contains tag %}
		          <option value="{{ tag | handle }}" selected>{{ tag }}</option>
		        {% elsif collection.all_tags contains tag %}
		          <option value="{{ tag | handle }}">{{ tag }}</option>
		        {% endif %}
		      {% endfor %}
		    </select>
		    
		    <div class="col">
			    <h6>Size</h6>
			    <ul>        
			      {% for tag in tags %}
			        {% if current_tags contains tag %}
			          <li data-value="{{ tag | handle }}">{{ tag | remove: 'size-'}}</li>
			        {% elsif collection.all_tags contains tag %}
			          <li data-value="{{ tag | handle }}" >{{ tag | remove: 'size-'}}</li>
			        {% endif %}
			      {% endfor %}
			    </ul>
			    <ul>
			      {% for tag in tags_numbers %}
			        {% if current_tags contains tag %}
			          <li data-value="{{ tag | handle }}">{{ tag | remove: 'size-'}}</li>
			        {% elsif collection.all_tags contains tag %}
			          <li data-value="{{ tag | handle }}" >{{ tag | remove: 'size-'}}</li>
			        {% endif %}
			      {% endfor %}				    		    
			    </ul>
			    <ul>
			      {% for tag in tags_numbers_2 %}
			        {% if current_tags contains tag %}
			          <li data-value="{{ tag | handle }}">{{ tag | remove: 'size-'}}</li>
			        {% elsif collection.all_tags contains tag %}
			          <li data-value="{{ tag | handle }}" >{{ tag | remove: 'size-'}}</li>
			        {% endif %}
			      {% endfor %}				    		    
			    </ul>			    
		    </div>
		    
		  </li>
		{% endif %}			
		
		{% if settings.sort-dropdown-a-check %}
		  <li class="clearfix filter color-filter">
			  {% assign color_tags = settings.sort_by_color  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %} 
		    <select class="coll-filter">
		      <option value="">Shop by Color</option>
		      {% for tag in color_tags %}
		        {% if current_tags contains tag %}
		          <option value="{{ tag | handle }}" selected>{{ tag }}</option>
		        {% elsif collection.all_tags contains tag %}
		          <option value="{{ tag | handle }}">{{ tag }}</option>
		        {% endif %}
		      {% endfor %}
		    </select>
		    
		    <div class="col">
			    <h6>Color</h6>
			    <ul>
			    {% for tag in color_tags %}
		        {% if current_tags contains tag %}
		          <li data-value="{{ tag | handle }}">{{ tag | remove: 'Color_' }}</li>
		        {% elsif collection.all_tags contains tag %}
		          <li data-value="{{ tag | handle }}">{{ tag | remove: 'Color_' }}</li>
		        {% endif %}
		      {% endfor %}
			    </ul>
		    </div>
		  </li>
		{% endif %}
        
         {% if settings.sort-dropdown-sf-check %}
         <!-- START NEW SORT -->
        	<li class="clearfix filter special-feature-filter">
			{% assign special_feature_tags = settings.sort_by_special_feature  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %} 
		    <select class="coll-filter">
		      <option value="">Special Feature</option>
		      {% for tag in special_feature_tags %}
		        {% if current_tags contains tag %}
		          <option value="{{ tag | handle }}" selected>{{ tag }}</option>
		        {% elsif collection.all_tags contains tag %}
		          <option value="{{ tag | handle }}">{{ tag }}</option>
		        {% endif %}
		      {% endfor %}
		    </select>
		    
		    <div class="col">
			    <h6>Special Feature</h6>
			    <ul>
			    {% for tag in special_feature_tags %}
		        {% if current_tags contains tag %}
		          <li data-value="{{ tag | handle }}">{{ tag | remove: 'Feature_' | replace: '-', ' ' }}</li>
		        {% elsif collection.all_tags contains tag %}
		          <li data-value="{{ tag | handle }}">{{ tag | remove: 'Feature_' | replace: '-', ' ' }}</li>
		        {% endif %}
		      {% endfor %}
			    </ul>
		    </div>
		  </li>
          {% endif %}
          <!-- END NEW SORT -->
          
         {% if settings.sort-dropdown-d-check %}
		  <li class="clearfix filter feature-filter">
			  {% assign feature_tags = settings.sort_by_feature  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %} 
		    <select class="coll-filter">
		      <option value="">Shop by Feature</option>
		      {% for tag in feature_tags %}
		        {% if current_tags contains tag %}
		          <option value="{{ tag | handle }}" selected>{{ tag }}</option>
		        {% elsif collection.all_tags contains tag %}
		          <option value="{{ tag | handle }}">{{ tag }}</option>
		        {% endif %}
		      {% endfor %}
		    </select>
		    
		    <div class="col">
			    <h6>Body Type</h6>
			    <ul>
			    {% for tag in feature_tags %}
		        {% if current_tags contains tag %}
		          <li data-value="{{ tag | handle }}">{{ tag | remove: 'Feature_' | replace: '-', ' ' }}</li>
		        {% elsif collection.all_tags contains tag %}
		          <li data-value="{{ tag | handle }}">{{ tag | remove: 'Feature_' | replace: '-', ' ' }}</li>
		        {% endif %}
		      {% endfor %}
			    </ul>
		    </div>
		  </li>
		{% endif %}
		
		
		{% if settings.sort-dropdown-c-check %}
		  <li class="clearfix filter">
		    {% assign tags = settings.sort_by_anything_else  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}    
		    <select class="coll-filter">
		      <option value="">Shop by {{ settings.sort_by_anything_else_label }}</option>
		      {% for tag in tags %}
		      {% if current_tags contains tag %}
		      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
		      {% elsif collection.all_tags contains tag %}
		      <option value="{{ tag | handle }}">{{ tag }}</option>
		      {% endif %}
		      {% endfor %}
		    </select>
		  </li>
		{% endif %}
		</ul>
	</form>
</div>              
     
<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  /* Give you product tag filter select element a class of coll-filter */
  /* Give your collection select a class of coll-picker */
  /* Brought to you by Caroline Schnapp */
  (function(){
	  var new_val;
	  var allFilters = $('.coll-filter, .coll-picker');

	  allFilters.change(function() {
	    var newTags = [];
	    $('.coll-filter').each(function() { 
	      if ($(this).val()) {
	        newTags.push($(this).val());
	      }
	    });

	    if (newTags.length) {
	      var query = newTags.join('+');
	      if ($('.coll-picker').length) {
	        window.location.href = '/collections/' + $('.coll-picker').val() + '/' + query;
	      } else {
	        window.location.href = $('{{ '0my-tag0' | link_to_tag: '0my-tag0' }}').attr('href').replace('0my-tag0', query);
                                     }
	    } else {
	      if ($('.coll-picker').length) {
	        window.location.href = '/collections/' + $('.coll-picker').val();
	      } else {
	        {% if collection.handle %}
	        window.location.href = '/collections/{{ collection.handle }}';
	        {% elsif collection.products.first.type == collection.title %}
	        window.location.href = '{{ collection.title | url_for_type }}';
	        {% elsif collection.products.first.vendor == collection.title %}
	        window.location.href = '{{ collection.title | url_for_vendor }}';
	        {% endif %}
	      }
	    }
	  });
	  
	  
	  $('body').on('click', '.col li', function(e){
		  e.stopPropagation();
		  me = $(this);
			new_val = me.data('value');
			me.closest('.col').closest('.filter').find('.coll-filter').val(new_val).change();
	  });
        
     	$('.coll-filter').each(function() { 
      		var selectedFilter = $(this).val();
          	if (selectedFilter.length > 0){
            	$('#selected-filters').addClass('active');
      			var selectedFilterText = $(".col").find("[data-value='" + selectedFilter + "']").text();
          		$(".col").find("[data-value='" + selectedFilter + "']").addClass('active');
      			$('#selected-filters').prepend('<span>' + selectedFilterText + '</span>');
            }
        });
  
  })(jQuery);
  

</script>