<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

{% if template contains 'collection' %}

  <meta property="og:image" content="{{ collection.image.src | collection_img_url: '2048x2048' | replace:'//cdn.shopify.com','http://cdn.shopify.com' }}" />
  <meta property="og:image:secure_url" content="{{ collection.image.src | collection_img_url: '2048x2048' | replace:'//cdn.shopify.com','https://cdn.shopify.com' }}" />
  <meta property="og:type" content="website" />
  <meta name="description" property="og:description" content="{{ collection.description | strip_html }}" />
  <meta property="og:url"content="https://www.ofmercer.com{{ collection.url }}" />
  <meta property="og:title" content="Of Mercer {{collection.title}}" />
{% endif %}

<meta name="google-site-verification" content="l6ILiqM8jS8R1Xm165IuF9ZQCLGzQmbFzPpE29Zw9fI" />
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">
  

<!-- script async src="https://cdn.optimizely.com/js/259437642.js"></script -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NN9TNC');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1654728768137867');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1654728768137867&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
  
<!-- End Facebook Pixel Code -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  
<script>
  WebFont.load({
    typekit: { id: 'jzp6ehf' }
  });
</script>

  <!-- Basic Page Needs
  ================================================== -->
  <title>
    {% if template == 'index' %}
      {% if page_title contains 'Welcome' %}
        {{ shop.name }} | Welcome
      {% else %}
        {{ page_title }}
      {% endif %}
    {% elsif template == '404' %}
      Page Not Found
    {% elsif page_title contains shop.name %}
      {{ page_title }}
    {% else %}
      {{ page_title }} | {{ shop.name }}
    {% endif %}
  </title>  
      
  {% assign maxmeta = 155 %}
  
  {% if page_description %}
    {% assign meta_description = page_description %}
  {% elsif template contains 'product' %}
    {% assign meta_description = product.description %}
  {% elsif template contains 'collection' %}
    {% assign meta_description = collection.description %}
  {% elsif template contains 'page' %}
    {% assign meta_description = page.content %}
 {% else %}
    {% assign meta_description = shop.description %}
  {% endif %}


  {% if template contains 'collection' %}
  {% else %}
  <meta name="description" content="{{ meta_description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% endif %}

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="width">

  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <!-- CSS
  ================================================== -->
  <link href="{{ 'jquery.fancybox.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ 'magnific-popup.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
  
  <link href="{{ 'perfect-scrollbar.min.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />

  <!-- Custom Css
  ================================================== -->
  <link href="{{ 'custom-theme.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />

  <!-- JS
  ================================================= -->
  <script type="text/javascript">
    window.customer_email = '{{ customer.email }}';
  </script>
  
  <script src="{{ 'jquery.js' | asset_url | split:'?' | first }}" type="text/javascript"></script>
  <script src="{{ 'script.js' | asset_url | split:'?' | first }}" type="text/javascript"></script>

  <!-- script async src="{{ 'modernizr.foundation.js' | asset_url }}"></script -->
  <script async src="{{ 'option_selection.js' | asset_url | split:'?' | first }}"></script>
  
  <script async src="{{ 'jquery.cart.min.js' | asset_url  | split:'?' | first }}"></script>
  <script async src="{{ 'jquery.fancybox.pack.js' | asset_url  | split:'?' | first }}"></script>
  <script src="{{ 'jquery.cookie.js' | asset_url  | split:'?' | first }}"></script>

  <!-- script async src="{{ 'analytics.min.js' | asset_url }}"></script>
  
  <script async src="{{ 'custom_analytics.js' | asset_url }}"></script -->
  <script src="{{ 'jquery.matchHeight.min.js' | asset_url }}"></script>
  <script src="{{'sticktoparent.js' | asset_url }}"></script>
   {{'jquery.magnific-popup.min.js' | asset_url | script_tag}}
  
  {{'perfect-scrollbar.min.js' | asset_url | script_tag}}



  <script src="{{ 'app.js' | asset_url }}"></script>

  {% if template == 'index' %}
    
    <script async src="{{ 'jquery.twitter.js' | asset_url  | split:'?' | first }}"></script>
    <link href="{{ 'slick.css' | asset_url | split:'?' | first }}" rel="stylesheet" type="text/css" media="all" />
    <script src="{{ 'slick.min.js' | asset_url  | split:'?' | first }}"></script>
  {% endif %}

  {% if template == 'product' or template == 'product.maternity' %}

  <script src="{{ 'jquery.elevateZoom-3.0.8.min.js' | asset_url  | split:'?' | first }}"></script>
  {% endif %}
  
  {% if template == 'page.aboutus' %}
    <link href="{{ 'slick.css' | asset_url | split:'?' | first }}" rel="stylesheet" type="text/css" media="all" />
    <script src="{{ 'slick.min.js' | asset_url  | split:'?' | first }}"></script>
  {% endif %}

  {{ content_for_header }}

  {% if template contains 'customers' %}
  <script src="{{ 'shopify_common.js' | asset_url  | split:'?' | first }}"></script>
  <script src="{{ 'customer_area.js' | asset_url  | split:'?' | first }}"></script>
  {% endif %}
  
  

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{ 'SquareTemplateFavicon.png' | asset_url }}">


  <a href="https://plus.google.com/+Ofmercerny" rel="publisher"></a>

<!--  <script async src="https://collection-filter-www.herokuapp.com/collection-filter-v1.js?shop={{shop.permanent_domain}}"></script> -->


  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}
  
 
  <!-- Global site tag (gtag.js) - Google Ads: 995441967 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-995441967"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-995441967');
</script>

<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"25016575"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>  
 
{% include 'cis-header' %}


{% if template contains 'product' %} {% for image in product.images limit:3 %} <meta property="product-image" content="http:{{ image.src | product_img_url: 'grande' }}"> {% endfor %} {% endif %}

<!-- Arthur Page Tracking Snippet --> <script type="text/javascript"> "use strict";(function(){var a=window.arthur=window.arthur||{};return a.invoked?void(window.console&&console.error&&console.error("Arthur snippet included twice.")):void(a.invoked=!0,a.queue=[],a.listeners={},a.setEmployeeWindow=function(b){a.eW=b},a.emit=function(b,c){a.queue.push([b,c])},a.on=function(b,c){a.listeners[b]=a.listeners[b]||[],a.listeners[b].push(c)},a.load=function(b,c){var d=document.createElement("script");d.type="text/javascript",d.async=!0,d.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.arthur.cloud/track/v1.js";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(d,e),a._loadOptions=c,a.writeKey=b},a.snippetVersion="1.0.0",a.setEmployeeWindow(30),a.load("nHXEVu5e3e_d7bTMj7O7Sbq7"))})(); arthur.emit("page"); </script> <!-- End Arthur Page Tracking Snippet -->

</head>

<body id="{{ page_title | handle }}" class="{{ template }} not-scrolled {% if template == 'blog.alternate' %}blog{% endif %}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NN9TNC" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  <div class="max-container">
  {% include 'mobile-menu' %}
  {% section 'announcement-bar' %}
  
  {% include 'newsletter-popup' %}
  
  {% include 'custom-header' %}
  
  {% if template == 'blog.alternate' %}
    <div id="content" class="row {% if template == 'blog.alternate' %}more-space{% endif %}">
      {{ content_for_layout }}
    </div>
  {% elsif template == 'index' %}
    <div id="home-content">
      {{ content_for_layout }}
    </div>
  
  {% elsif template == 'login' %}
   <div id="content-account" class="row">
      {{ content_for_layout }}
    </div>
  
  {% else %}
    <div id="content" class="row">
      {{ content_for_layout }}
    </div>
  {% endif %}
          
 
  </div>
   {% include 'footer' %}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />

<script async type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<script type="text/javascript">
  $(function() {
    window.setTimeout(function() {
      $('.pinterest').each(function() {
          var count = $(this).find('span');
        if (!count.length) return;
        $(this).css('margin-right', count.outerWidth() + parseInt($(this).css('margin-right')) + "px");
      });  
    }, 3000);
    
    window.setTimeout(function() {
      $('.fancy.social-icon > a:nth-child(2)').each(function(){
        if ($(this).find('strong').html() === "0") {
          $(this).remove();
        }
      });
    }, 3000);
  });
</script>


<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-ckB6gfRpuhgMY.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
   

<!-- Klaviyo Tag -->  
  <script type="text/javascript">
  var _learnq = _learnq || [];

  _learnq.push(['account', 'EHUePc']);

  (function () {
  var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
  b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
  var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
  })();
</script>
 <!-- End Klaviyo tag --> 
  
  
  
{% include 'social-login' %}

<!-- spurit_um-added -->
{% include 'spurit_um-theme-snippet' %}
<!-- /spurit_um-added -->

	{% include 'flits_snippet' %}
{% include 'cis-body' %}

  {% if template contains 'collection' or template contains 'search' %}
  {{ 'ajaxinate.min.js' | asset_url | script_tag }}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var endlessScroll = new Ajaxinate({
        callback: function () {
        console.log('callback loaded');
      	  $('.collection-image').on({
		    mouseenter: function(){
			    var me = $(this);
			    me.find('.img1').hide().next('.img2').show();
		    },
		    mouseleave: function(){
			    var me = $(this);
			    me.find('.img2').hide().prev('.img1').show();		    
		    }
		  }),
            setTimeout(function(){
            $('.collection-item').matchHeight();
          },2000);
      }
      });
      
	});
    </script>
{% endif %}
  
  <script>
  	 $(document).ready(function(){
       
     var productInfo = $('.product-info .col-3');
  	 productInfo.stick_in_parent({
       parent: ".wrapper.product-info",
       offset_top: 40
     });
      
  });
    
    // Code for magnific popup
    
      $('.mg_trigger').magnificPopup({
          type: 'image',
          closeOnContentClick: true,
          mainClass: 'mfp-img-mobile',
          image: {
            verticalFit: false
          }
          
        });
    
    // Code for magnific popup ends
    
    $('#mini-cart .mc-body').perfectScrollbar({
    suppressScrollX:true,
  });
  </script>

</body>
</html>


</style>