<script>
fbq('track', 'InitiateCheckout');
</script>

{% assign has_preorder = null %}

<div class="page" id="cart">
	<div class="wrapper narrow-wrapper">
		
		<div style="padding-top:25px!important;padding-bottom:25px!important" class="page-header">
			<h2>My Shopping Bag</h2>
          
		</div>
		{% if cart.item_count == 0 %}
			<div class="empty-cart">
			  <p class="cart-empty">Your shopping bag is currently empty.</p>
			  <a class="btn btn-light" href="/collections/all">Continue Shopping</a>
			</div>
		{% else %}
			<form action="/cart" method="post" id="cartform">
				<div id="cart-items">
					{% for item in cart.items %}
                 
			  		{% assign metafields = item.product.metafields.custom_fields %}

				{% assign use_for_preorder_only = item.product.metafields.metafield_template %}
			    
                  	{% if item.product.available and item.variant.inventory_quantity <= 0 and item.product.id != 383771721 and item.product.id != 186704345 %}
				    	{% assign has_preorder = true %}
                	{% endif %}

					
						<div class="cart-item {{item.product.handle}} ">
							
							<div class="ci-col ci-img">
								<div class="unvert-y">
		              <a href="{{ item.product.url }}" title="{{ item.product.title | escape }}">
		                {% assign found = false %}
		                {% for img in item.product.images %}
		                  {% if found == false and item.variant.title contains img.alt %}
				                <img src="{{ img | product_img_url: 'medium' }}"  alt="{{ item.alt | escape }}" />
				                {% assign found = true %}
		                  {% endif %}
		                {% endfor %}
		                {% if found == false %}
		                  <img src="{{ item.product.featured_image | product_img_url: 'medium' }}"  alt="{{ item.product.featured_image.alt | escape }}" />
		                {% endif %}           
		              </a>
								</div>					
							</div>
							
							<div class="ci-col ci-title">
								<div class="unvert-y">
								  <h6>
                  	<a href="{{ item.product.url }}">{{ item.product.title }}</a>
											<span class="stacked">
                      	{{ item.variant.option1 }} / {{ item.variant.option2 }}<br/>
                        {{ item.price | money }}{% if item.variant.compare_at_price > item.price %}<br /><del>{{ item.variant.compare_at_price | money }}</del>{% endif %}
                      </span>
                    	{% if metafields['preorder_message'].size > 0 and item.variant.inventory_quantity <= 0 %}
				  			<span class="preorder-msg" style="">{{ metafields['preorder_message'] }}</span>
						{% endif %}
                  </h6>
                                  
									
									
								</div>
							</div>
							
							<div class="ci-col ci-qty">
								<div class="unvert-y">
									<input type="text" size="4" name="updates[{{ item.id }}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();" class="" data-id="{{ item.variant.id }}" />
		              <div class="num-incr">
			              <span class="inc">
				              <span></span>
				              <span></span>
			              </span>
			              <span class="dec">
				              <span></span>
			              </span>
		              </div>
								</div>
							</div>
							
							<div class="ci-col ci-total">
								<div class="unvert-y">
                                  <h6><span>{{ item.line_price | money }}</span></h6>
								</div>
							</div>
							
							<div class="ci-col ci-remove">
								<div class="unvert-y">
		              				<a href="#" id="remove-i" class="remove-item" data-id="{{item.id}}"></a>
								</div>
							</div>
							
						</div>
					{% endfor %}

				</div>
				
			  <div class="cart-footer">
                  <div class="cart-info">
                    <div class="left">
                      <a id="returntoshopping" href="/collections/all" title="Browse our Catalog">Continue Shopping</a>
                    </div><!-- END left -->
                    <div class="right">
                      <h6 style="float:right">Subtotal<span style="font-weight:bold">{{ cart.total_price | money }}</span></h6>
				      <!-- input type="submit" name="update" id="update-cart" value="Update" class="checkout btn button cartrefresh" / -->
              <a href="/cart/" id="update-cart">Update Cart</a>  
                    </div><!-- END right -->                  
                  </div><!-- END cart info -->
                
                  <div class="button-container">
                    <div class="cart-buttons">
				    <input type="submit" name="checkout" id="checkout" style="width:100%!important" value="Checkout" class="btn button" />
				    	{{ content_for_additional_checkout_buttons }}
	

						
                    </div><!-- END button container -->
				  </div>
		    </div> 
		          {% include 'gift-wrapping' %}
		  </form>
		{% endif %}
		
	</div>
</div>

<script type="text/javascript">
  $(function(){
    analytics.page("Cart");
  });
</script>

<!-- PERFECT AUDIENCE INTEGRATION START -->
{% include 'perfect-audience-cart' %}
<!-- PERFECT AUDIENCE INTEGRATION END -->
<!-- {% include 'preorder-me-cart'%} -->

{% if has_preorder %}
<script>


$('body').on('click', '#paypal-express-button', function() {
  if ($('#agree').is(':checked')) {
    $(this).submit();
  }
  else {
    alert(preorder_alert);
    return false;
  }
});

</script>
{% endif %}

<script>
jQuery('.remove-item').on('click', function(event){
  event.preventDefault();
  var productId = parseInt(jQuery(this).attr('data-id'));
  jQuery.post('/cart/change.js', {quantity: 0, id: productId});
  $(this).parents('.cart-item').hide('slow');
  // location.reload();
});
</script>