{% assign metafields = ['collection'].metafields.custom_fields %}
<div id="collection-header" style="margin-bottom: 0;">
  {% if collection.image %}
    <img src="{{ collection.image.src | collection_img_url: '2048x2048' }}" alt="{{ collection.image.alt }}">
  {% endif %}
  <div class="msg-group">
     <h4>{{ metafields['collection_tagline'] }}</h4>
    <h1>{{ collection.title }}</h1>
    {% if collection.description %}
      <p class="shortform">{{ collection.description }}</p>
    {% endif %}
  </div>
  <div class="triangle right"></div>
</div>

{% include 'giftguide-menu' %}

<div class="wrapper" style="position: relative;">

  {% paginate collection.products by 99999 %}
    <div id="collection-grid" class=""> 
      {% for product in collection.products %}
          
          
        {% if collection.all_products_count > 3 %}
          
          {% if forloop.index == 1 %}
            {% assign metafields = ['collection'].metafields.custom_fields %}
            {% assign large_image = metafields['promo_1_image'] %}
            {% assign image_list_hover = metafields['promo_1_image_hover'] %}
  
            <div class="collection-item new-cf">
              <div class="collection-image">
              <div class="col-1-3 editorial-text product-meta-editorial">
                    <div>
                      <h6><a id="gift-category1" style="text-decoration:none!important">For the</a></h6>
                      <h5><span>Cozy Homebody</span></h5>
                      <p>She wants everything she wears to feel good on, from cuddly bouclé to flattering draped jersey.</p>
                    </div>
                  </div> 
              
              </div>
            </div>
          {% endif %}

          {% if forloop.index == 6 %}
            {% assign metafields = ['collection'].metafields.custom_fields %}
            {% assign large_image = metafields['promo_1_image'] %}
            {% assign image_list_hover = metafields['promo_1_image_hover'] %}
  
            <div class="collection-item new-cf">
              <div class="collection-image">
                <div class="col-1-3 editorial-text product-meta-editorial">
                    <div>
                      <h6><a id="gift-category2" style="text-decoration:none!important">For the</a></h6>
                      <h5><span>Career Beginner</span></h5>
                      <p>For the girl who's looking to build up her work wardrobe and start collecting the basics.</p>
                    </div>
                  </div>
                
             
              </div>
            </div>
          {% endif %}

          {% if forloop.index == 11 %}
            {% assign metafields = ['collection'].metafields.custom_fields %}
            {% assign large_image = metafields['promo_1_image'] %}
            {% assign image_list_hover = metafields['promo_1_image_hover'] %}
  
            <div class="collection-item new-cf">
              <div class="collection-image">
                 <div class="col-1-3 editorial-text product-meta-editorial">
                    <div>
                      <h6><a id="gift-category3" style="text-decoration:none!important">For the</a></h6>
                      <h5><span>Party Starter</span></h5>
                      <p>Don't just depend on her to make all the plans for the team, help her dress for the occasion too.</p>
                    </div>
                  </div>
              </div>
            </div>
          {% endif %}
      
      {% if forloop.index == 16 %}
            {% assign metafields = ['collection'].metafields.custom_fields %}
            {% assign large_image = metafields['promo_1_image'] %}
            {% assign image_list_hover = metafields['promo_1_image_hover'] %}
  
            <div class="collection-item new-cf">
              <div class="collection-image">
               <div class="col-1-3 editorial-text product-meta-editorial">
                    <div>
                      <h6><a id="gift-category5" style="text-decoration:none!important">For the</a></h6>
                      <h5><span>Classic Buff</span></h5>
                      <p>The seasoned professional we all aspire to be, with a timeless style and flawless sense of self. </p>
                    </div>
                  </div>
              </div>
            </div>
          {% endif %}
          
          {% if forloop.index == 21 %}
            {% assign metafields = ['collection'].metafields.custom_fields %}
            {% assign large_image = metafields['promo_1_image'] %}
            {% assign image_list_hover = metafields['promo_1_image_hover'] %}
  
            <div class="collection-item new-cf">
              <div class="collection-image">
              <div class="col-1-3 editorial-text product-meta-editorial">
                    <div>
                      <h6><a id="gift-category6" style="text-decoration:none!important">For the</a></h6>
                      <h5><span>Creative Type</span></h5>
                      <p>When the office dress code is Casual Friday every day but she still wants to look polished.</p>
                    </div>
                  </div>  
              
              </div>
            </div>
          {% endif %}
      
       {% if forloop.index == 26 %}
            {% assign metafields = ['collection'].metafields.custom_fields %}
            {% assign large_image = metafields['promo_1_image'] %}
            {% assign image_list_hover = metafields['promo_1_image_hover'] %}
  
            <div class="collection-item new-cf">
              <div class="collection-image">
              <div class="col-1-3 editorial-text product-meta-editorial">
                    <div>
                      <h6><a id="gift-category7" style="text-decoration:none!important">For anyone</a></h6>
                      <h5><span>Bestsellers</span></h5>
                      <p>For everyone on your list: the pieces we can barely keep in stock that our customers always love (and she will too!)</p>
                    </div>
                  </div>  
              
              </div>
            </div>
          {% endif %}
      
      {% if forloop.index == 31 %}
            {% assign metafields = ['collection'].metafields.custom_fields %}
            {% assign large_image = metafields['promo_1_image'] %}
            {% assign image_list_hover = metafields['promo_1_image_hover'] %}
  
            <div class="collection-item new-cf">
              <div class="collection-image">
              <div class="col-1-3 editorial-text product-meta-editorial">
                    <div>
                      <h6><a id="gift-category4" style="text-decoration:none!important">For the</a></h6>
                      <h5><span>Pickiest</span></h5>
                      <p>Gift cards for the most particular!</p>
                    </div>
                  </div>  
              
              </div>
            </div>
          {% endif %}

        {% endif %}

      
        <div class="collection-item" data-price="{{ product.price | money_without_currency }}">
          <div class="collection-image">
            {% if product.images.size > 1 %}      
              <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">                   
                {% assign productImage1 = product.images[0] | img_url:'master' %}
                {% assign productImage2 = product.images[1] | img_url:'master' %}
                <img class="img1" src="{% include 'imgix' src:productImage1 w:960 auto:'format' %}"
                  srcset="
                  {% include 'imgix' src:productImage1 w:320 auto:'format' %} 320w,
                  {% include 'imgix' src:productImage1 w:640 auto:'format' %} 640w,
                  {% include 'imgix' src:productImage1 w:960 auto:'format' %} 960w,
                  {% include 'imgix' src:productImage1 w:1280 auto:'format' %} 1280w,
                  {% include 'imgix' src:productImage1 w:1600 auto:'format' %} 1600w " sizes="(min-width: 375px) 50vw, 100vw" alt="{{ product.title | escape }}"
                >
                <img class="img2" src="{% include 'imgix' src:productImage2 w:960 auto:'format' %}"
                  srcset="
                  {% include 'imgix' src:productImage2 w:320 auto:'format' %} 320w,
                  {% include 'imgix' src:productImage2 w:640 auto:'format' %} 640w,
                  {% include 'imgix' src:productImage2 w:960 auto:'format' %} 960w,
                  {% include 'imgix' src:productImage2 w:1280 auto:'format' %} 1280w,
                  {% include 'imgix' src:productImage2 w:1600 auto:'format' %} 1600w " sizes="(min-width: 375px) 50vw, 100vw" alt="{{ product.title | escape }}"
                >
             </a> 
            {% else %}       
              <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                {% assign productImage1 = product.images[0] | img_url:'master' %}
                <img class="img1 scale-with-grid" src="{% include 'imgix' src:productImage1 w:960 auto:'format' %}"
                    srcset="
                    {% include 'imgix' src:productImage1 w:320 auto:'format' %} 320w,
                    {% include 'imgix' src:productImage1 w:640 auto:'format' %} 640w,
                    {% include 'imgix' src:productImage1 w:960 auto:'format' %} 960w,
                    {% include 'imgix' src:productImage1 w:1280 auto:'format' %} 1280w,
                    {% include 'imgix' src:productImage1 w:1600 auto:'format' %} 1600w " sizes="(min-width: 375px) 50vw, 100vw" alt="{{ product.title | escape }}"
                >
              </a>
            {% endif %}   
          </div>
          <div class="collection-item-detail" data-price="{{ product.price | money_without_currency }}">     
            <a href="{{ product.url | within: collection }}">
              <h6>{{ product.title | truncate: 70 }}
                <span>{% include 'swatchesnosize2' %}</span> 
                <span class="right">
                  {% if product.title == 'Of Mercer Gift Card' %}
                    from {{ product.price_min | money }} - {{ product.price_max | money }} 
                  {% else %}
                    {{ product.price | money }} {% if product.price < product.compare_at_price %} was <span class="red">{{ product.compare_at_price | money }}</span>{% endif %}
                  {% endif %}
                  </span>
                </h6>
            </a>
          </div>
        </div>
      {% endfor %}      
    </div>
    
    <div id="bottom-paginate-bar" class="twelve columns">
      {% if paginate.pages > 1 %}
      <ul class="pagination">
        {% if paginate.previous %}
        <li class="arrow">{{ '&laquo;' | link_to: paginate.previous.url }}</li>
        {% endif %}
         {% for part in paginate.parts %}
          {% if part.is_link %}
        <li>{{ part.title | link_to: part.url }}</li>
        {% elsif part.title == '&hellip;' %}
        <li>{{ part.title }}</li>
        {% else %}
        <li class="current">{{ part.title | link_to: part.url }}</li>
        {% endif %}
        {% endfor %}
        {% if paginate.next %}
        <li class="arrow">{{ '&raquo;' | link_to: paginate.next.url }}</li>
        {% endif %}
        <li><a href="/collections/{{ collection.handle }}?view=all" style="margin-left: 10px">View All</a></li>
      </ul>
      {% endif %}  
    </div>
  {% endpaginate %}

</div>

<script type="text/javascript">

$(function() {
  
  var $ad = $('#collection-grid .collection-item.ad'),
      $c_header = $('#collection-header'),
      $msg_group = $('.msg-group'),
      msg_height;
  
  //<![CDATA[ 
/*
    $('#linklists a').each(function() {
      if ($(this).attr('href')  ===  window.location.pathname) {
        $(this).addClass('current');
      }
    });
*/
  //]]>

  analytics.page(unescape("{{ collection.title | escape }} Collection"), "Index");
    
  if($('#collection-grid .collection-item').hasClass('ad')){
    $ad.eq(0).css({'margin-right': 0}).after('<div class="clear"></div>');
    $ad.eq(1).next('.collection-item').css({'margin-right': 0}).nextAll('.collection-item').wrapAll('<div class="collection-gridy"></div>');
  }
  
  // Color filter columns
  var divs = $('.color-filter').find('.col ul li');
  for(var i = 0; i < divs.length; i+=5) {
    divs.slice(i, i+5).wrapAll("<li class='new'><ul></ul></li>");
  }
  
  function collectionHeader(){
    msg_height = $msg_group.height();
    $c_header.css({
      'min-height': msg_height
    });
  }
  
  collectionHeader();
  
  $(window).resize(function(){
    collectionHeader();
  });

  function stickSecondaryNav(){         

    var $prod_controls = $('.giftguide-menu');

    var pw_pos = $prod_controls.offset().top;
          
    $(window).on('scroll', function(){
      
      if($(window).scrollTop() >= pw_pos){
        $prod_controls.addClass('stick');
      } else {
        $prod_controls.removeClass('stick');
      }
    });

  };

  stickSecondaryNav();

  $('.giftguide-menu li > a').click(function(e){
    $('#collection-grid').removeClass('filtered');
    $('.collection-item').each(function(){
      $(this).show();
      $(this).removeClass('filtered');
      $(this).css('margin-right', '');
    });
  });

  $('#gifts-under-temp > a').click(function(e){
    e.preventDefault();
    var x = 0;
    $('.collection-item').each(function(i, v){
      if( !$(this).data('price') || $(this).data('price') > 150 ) {
        $(this).hide();
      } else {
        $(this).addClass('filtered');
        x++;
        if(x % 3 == 0) {
          $(this).css('margin-right', '0');
        } else {
          $(this).css('margin-right', '9%');
        }
      }
    });
    $('html, body').animate({
        scrollTop: $("#collection-grid").offset().top
    }, 2000);
  });

  $('#gifts-under-temp > a').text('Gifts Under $150');
    
  
}); 
</script>