<div id="ZooomyLookbook-1435"></div></div><script src="https://zooomyapps.com/lookbook/lookbook.js" data-id="1435"></script><div id="featured-hero" class="img-banner">
	<a id="link-overlay t" href="https://www.ofmercer.com/collections/all"></a>
	<div class="slick" data-slick='{
		"slidesToShow": 1,
		"slidesToScroll": 1,
		"dots": true,
		"arrows": false
	}'>
		{% assign mySlides = "slider1|slider2|slider3" | split: "|" %}
		{% for item in mySlides %}
		  {% assign enable = item | append: '_enable' %}
		  {% assign pic = item | append: '.jpg' %}
		  {% assign alt = item | append: '_alt' %}
		  {% assign type = item | append: '_type' %}
		  {% assign headline = item | append: '_headline' %}
		  {% assign copy = item | append: '_copy' %}
		  {% assign cta = item | append: '_cta' %}
		  {% assign linky = item | append: '_link' %}
		  {% assign align = item | append: '_align' %}
		  {% assign color = item | append: '_color' %}
		  {% assign mobilePlacement = item | append: '_mobile_placement' %}
		  
		  {% if settings[enable] %}
			  <div class="hero-item placement-{{ settings[mobilePlacement] }}" style="background-image:url('{{ pic | asset_url }}')">
				  <div class="msg-group {{ settings[align] }} {{ settings[color] }}">
					  {% if settings[headline].size > 0 %}
						  <h1>{{ settings[headline] }}</h1>
					  {% endif %}
					  {% if settings[copy].size > 0 %}
						  <p class="small">{{ settings[copy] }}</p>
					  {% endif %}
					  {% if settings[linky].size > 0 %}
						  <a class="btn" href="{{ settings[linky] }}">{{ settings[cta] }}</a>
					  {% endif %}
				  </div>
			  </div>
		  {% endif %}
		{% endfor %}
	</div>
</div>

{% if settings.home_intro_headline.size > 0 or settings.home_intro_copy.size > 0 %}
<div id="site-intro" class="copy-block">
	<div class="wrapper slimmer-wrapper">
          <h3>{{ settings.home_intro_headline }}</h3>
          <p>{{ settings.home_intro_copy }}</p>
	</div>
</div>
{% endif %}

<div id="home-featured">
	<div class="left"></div>
  	<div class="right"></div>
	{% if settings.enable_featured_block_1 %}
		<div class="featured-block" id="featured-collection-1">
			{% if settings.enable_featured_collection_image %}
				{% if settings.featured_block_1_link.size > 0 %}
					<a href="{{ settings.featured_block_1_link }}">
						<div>
							<img src="https://cdn.shopify.com/s/files/1/0186/9832/files/HomepageSmallBanner-NewJan19-3.jpg?9906309002115473782" alt="{% if settings.featured_block_1_alt.size > 0 %}{{ settings.featured_block_1_alt }}{% else %}Of Mercer{% endif %}" />
						</div>
					</a>
				{% else %}
					<div>
						<img src="{{ 'featured_collection_image.jpg' | asset_img_url: '1200x' | split:'?' | first }}" alt="{% if settings.featured_block_1_alt.size > 0 %}{{ settings.featured_block_1_alt }}{% else %}Of Mercer{% endif %}" />
					</div>
				{% endif %}
			{% endif %}
			<div class="msg-group">
				{% if settings.featured_block_1_prehead.size > 0%}
              
				{% endif %}
				{% if settings.featured_block_1_prehead.size > 0%}
					<h1>{{ settings.featured_block_1_headline }}</h1>
				{% endif %}
				{% if settings.featured_block_1_tagline.size > 0%}
					<p class="small">{{ settings.featured_block_1_tagline }}</p>
				{% endif %}
				{% if settings.featured_block_1_cta.size > 0 and settings.featured_block_1_link.size > 0 %}
					<a class="btn" href="{{ settings.featured_block_1_link }}">{{ settings.featured_block_1_cta }}</a>
				{% endif %}
			</div>
		</div>
	{% endif %}
	
	{% if settings.enable_featured_block_2 %}
		<div class="featured-block" id="featured-collection-2">
			{% if settings.enable_featured_product_image %}
				{% if settings.featured_block_2_link.size > 0 %}
				<a href="{{ settings.featured_block_2_link }}">
					<div>
						<img src="https://cdn.shopify.com/s/files/1/0186/9832/files/HomepageSmallBanner-NewJan19-1.jpg?9906309002115473782" alt="{% if settings.featured_block_2_alt.size > 0 %}{{ settings.featured_block_2_alt }}{% else %}Of Mercer{% endif %}" />
					</div>
				</a>
				{% else %}
					<div>
						<img src="{{ 'featured_product_image.jpg' | asset_img_url: '1200x' | split:'?' | first }}" alt="{% if settings.featured_block_2_alt.size > 0 %}{{ settings.featured_block_2_alt }}{% else %}Of Mercer{% endif %}" />
					</div>
				{% endif %}
			{% endif %}
			<div class="msg-group">
				{% if settings.featured_block_2_prehead.size > 0%}
              
				{% endif %}
				{% if settings.featured_block_2_prehead.size > 0%}
					<h1>{{ settings.featured_block_2_headline }}</h1>
				{% endif %}
				{% if settings.featured_block_2_tagline.size > 0%}
					<p class="small">{{ settings.featured_block_2_tagline }}</p>
				{% endif %}
				{% if settings.featured_block_2_cta.size > 0 and settings.featured_block_2_link.size > 0 %}
					<a class="btn" href="{{ settings.featured_block_2_link }}">{{ settings.featured_block_2_cta }}</a>
				{% endif %}
			</div>
		</div>
	{% endif %}
	
</div>
<div id="mosaic">
	<div class="wrapper">
		

  
  </div>
</div>
{% if settings.statement_headline or settings.statement_copy %}
<div id="statement">
	<div class="wrapper">
      	<div class="right">
          <h3>{{ settings.statement_headline }}</h3>
          <p>{{ settings.statement_copy }}</p>
          {% if settings.statement_link %}
            {% assign link_handle = settings.statement_link %}
              <a class="btn" href="https://www.ofmercer.com/collections/all">Learn More</a>
          {% endif %}
      </div>
	</div>
</div>
{% endif %}