<div id="page">
<!--googleoff: snippet-->   <h2>{{ page.title }}</h2> <!--googleon: snippet-->
       {{ page.content }}
  
  <div class="twelve columns pop-up pop-up-banner" >
  <h2>APPAREL FOR DESK-TO-ANYTHING</h2>
      </div>
  
  <div class="two columns pop-up-banner"></div>
  <div class="eight columns homepage-aboutus">
    <p>Started by two friends with two very hectic work lives and one shared belief in the power of personal style, Of Mercer is redefining the word “workwear”.  At Of Mercer, we make bold, stylish apparel to take you effortlessly from desk-to-dinner, and everywhere in-between.</p>
<hr style="margin: 30px auto 30px auto; width: 250px; max-width: 45%;">
  <p style="margin-bottom:0px; padding-bottom:5px;">Here you'll find:</p>
  </div>

  <br style="clear: both;" />
  <div class="one columns pop-up-banner" style="width:12.5%"></div>
  <div class="three columns homepage-aboutus" >
        <img src="{{ 'dressgrey2.png' | asset_url }}" alt="Desk to Dinner Styles">
    <p>Desk-to-dinner styles for <br>any office dress code</p>
       </div>
    <div class="three columns homepage-aboutus" >
          		<img src="{{ 'ThreadGrey1.jpg' | asset_url }}" alt="Luxurious Fabrics">
    	<p>Soft and luxurious fabrics from the finest mills</p>  </div>
    
  <div class="three columns homepage-aboutus" >
          		<img src="{{ 'SewingMachineGrey.png' | asset_url }}" alt="A Perfect Fit">
    	<p>Expert tailoring for a <br> perfect fit</p>
     </div>
  
  <div class="one columns pop-up-banner" style="width:12.5%"></div>
    
  
  <br style="clear: both;" />
  
  
<br/>
  <div class="three columns"></div>
  <div class="six columns homepage-aboutus">
    <p><i >All at half the price of designer brands.</i></p>
    <hr style="margin: 30px auto 30px auto; width: 250px; max-width: 45%;">
    <p>How?  By skipping the pesky middleman and selling directly to you.  <br> Right here and only right here.</p>
    <p>Oh, and shipping and returns are on us.</p>
  </div>
    <div class="three columns"></div>

 <br style="clear: both;" />
 

  <div class="twelve columns pop-up pop-up-banner" style="margin-top:10px; margin-bottom:10px;" >
  <div class="mailing-list-signup">
      <div class="email">
        
        
        <a href="http://www.ofmercer.com/collections/all" class="secondary button homepage-shop-btn" style="margin-left:38%; background-color: #000000;color:#fff">LET'S GET SHOPPING≻</a>
  </div>
    </div>
    
 
  
  
  
  

  
</div> 
  
   <br style="clear: both;" />

     
</div> 
 

<script type="text/javascript">
  $(function(){
    analytics.page(unescape("{{ page.title | escape }}"));
  });
</script>