{% assign page_meta_info = ['page'].metafields.custom_fields %}
{% if page_meta_info['page_tagline'].size > 0 %}
	{% assign page_tagline = page_meta_info['page_tagline'] %}
{% else %}
	{% assign page_tagline = 'Boston Store' %}
{% endif %}
<div id="page-popup">
<div class="hero">
  <div class="left">
  	<img src="{{ 'BostonPopUpBanner4.jpg' | asset_url }}"/>
  </div>
  <div class="right">
    <h4>{{ page.title | escape }}</h4>
    <h1>{{ page_tagline }}</h1> 
     <p>{{ page.content }}</p>
  </div>
</div>
<div class="wrapper"> 
<div class="copy-block copy-block-narrow" style="padding-bottom:3rem">
  <h3>Of Mercer x Boston</h3>

  <p>
For the next three months, we’re expanding from NYC and taking up residence in the heart of Boston in our very own storefront. We’ll be open seven days a week (no reservation required) so you’ll have plenty of chances to stop by and shop your favorite online styles IRL. Be sure to check out our calendar below for details on special events and shoot us your email to stay in the loop as new ones are added!</p>
  </div>  </div>
  
	
  

<div class="store-hrs">
  <div class="left">
    <div>
    	<h5>Of Mercer Boston Popup Shop</h5>
    	<p>127 Newbury Street<br/>
      	Boston, MA 02116<br/>
          <a href="mailto:dc@ofmercer.com">boston@ofmercer.com</a>  
    	</p>
    	<h5>HOURS</h5>
    	<p>Mon-Sat: 11am-8pm<br/>
      	Sun: 12pm-7pm<br/>
          
    	</p>
    </div>
  </div>
  <div class="right">
    <img src="{{ 'OfMercerBostonPopUp-Map1.jpg' | asset_url }}"/>
  </div>
</div>
  
  


<div class="events" id="bostonevents">
   <div class="wrapper" style="padding-bottom:20px">
      <div style="padding-top:10px;"; class="copy-block-narrow" >
        <h5>Get on our Boston list</h5>
      	<p>Stay up-to-date on Boston events and exclusive Of Mercer happenings.</p>      	
      </div>
      <form id="nyc-mailing-list" class="klaviyo_standard_embed_QKGJWW" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
      	<input type="hidden" name="g" value="QKGJWW">	
        <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
        <button type="submit" class="klaviyo_submit_button btn">Subscribe</button>
      </form>
      <div class="klaviyo_messages" style="clear: both;">
          <div class="success_message" style="display:none;"><br>Great! You’re now on the invite list for Boston events. <br>Look out for future emails from Of Mercer Boston.</div>
          <div class="error_message" style="display:none;"></div>
        </div>

      	</div>

  <div class="wrapper">
      <div class="copy-block-narrow">
    	</div>
      	</div>	
  </div>
 <div class="wrapper popup-aboutom">
	<div class="left">
      <img src="{{ 'OfMercer-Boston2.jpg' | asset_url }}"/>
  	</div>
  	<div class="right ">
        	<div class="wrapper ">
    <h5>Store Events</h5>
      	<p>We’ve packed our Boston calendar with private and special events while we’re visiting town, but we always have room for you! If you’d like to host a night out for your company or organization while we’re in town, email <a href="mailto:katie@ofmercer.com">katie@ofmercer.com</a>.</p>      	
      	
      </div>	</div>
</div> 
  
  
  
  
  
   <div class="events-table">
	<div class="wrapper">   	
       <div class="copy-block-narrow-table" id="calendarlink">
         <h3>Upcoming Calendar of Public Events</h3>
      <table>
        <col width="100">
        <col width="250">
        <tr>
          <td>Wednesday 10/4<br>6:00pm – 8:00pm</td>
          <td><strong>Official Launch Party</strong><br>
            Come celebrate our first few weeks in town at our official Boston Launch Party!  We’ll have delicious food, lots of prosecco, and of course, shopping!  We love meeting our customers, new and old - let's toast to being in the neighborhood!
          </td>
        </tr>
       
        <tr>
          <td>Thursday 10/12<br>6:00pm – 8:00pm</td>
          <td><strong> Aspire with Aileen Career Coaching</strong>
            <br>Join us for an evening with with Aileen Axtmayer, founder of <a href="http://www.aspirewithaileen.com/" target="_blank" >Aspire with Aileen</a>, for an evening of career coaching and advice on how to make the most of your work life.
            RSVP <a href="https://www.eventbrite.com/e/from-overwhelmed-to-empowered-simplify-your-job-search-strategies-tickets-37538529753" target="_blank">here</a>.
            
          </td>
        </tr>
        <tr>
          <td>Wednesday 10/18<br>6:30pm – 8:30pm</td>
          <td><strong>Six Degrees Society: Fireside Chat with Alice Finn and Dorie Golkin Smith</strong>
            <br>Join <a href="https://sixdegreessociety.com//" target="_blank" >Six Degrees Society</a> for a conversation on “Knowing Your Worth” with Alice Finn, Founder and CEO of <a href="http://www.powerhouseassets.com/" target="_blank" >Powerhouse Assets</a>, and Dorie Golkin Smith, Co-Founder of Of Mercer.
           <br><br>Attendees will receive a copy of Alice’s book on personal investing and be able to network one-on-one with curated matches.  Enjoy light bites and wine throughout the night!
            RSVP <a href="https://sixdegreessocietybostonsmartwo.splashthat.com/" target="_blank">here</a>.
            
          </td>
        </tr>
        <tr>
          <td>Thursday 10/19<br>6:00pm – 8:00pm</td>
          <td><strong>Commercial Real Estate Sip and Shop</strong><br>
            All women in commercial real estate are invited for an evening of mixing and networking while shopping our styles!  Enjoy drinks and light bites throughout the evening, co-hosted by local commercial realtors.
            
          </td>
        </tr>
        
        <tr>
          <td>Tuesday 11/28<br>6:00pm – 8:00pm</td>
          <td><strong>Giving Tuesday with One Bead</strong><br>
          Our friends at <a href="http://onebead.org/" target="_blank" >One Bead</a> are hosting a special Giving Tuesday event in our shop.  Come sip, shop, and support the One Bead team, and learn about a local nonprofit giving back through their unique, handcrafted, glass bead jewelry!  A portion of  all proceeds from the night will be given back to One Bead!
            
          </td>
        </tr>
        <tr>
       
      
        </table>
      </div>
     
  	</div>
</div>
  
  
  
  <div class="wrapper popup-aboutom">
	<div class="left">
      <img src="{{ 'PopupAboutOM.jpg' | asset_url }}"/>
  	</div>
  	<div class="right ">
        	<div class="wrapper ">
    	<h3>About Of Mercer</h3>
      <p>Founded by two women tired of figuring out workwear
        (and real talk: being late as a result), this is “workwear”
        women want to wear. Our clothing is totally 
        office-appropriate and more importantly, it’s designed to make you feel incredible. 
        (Because a killer outfit makes all the difference.) While we personally haven’t nailed the work-life balance thing, our clothing definitely has. In office parlance: It’s a game-changer. </p>
  	</div>	</div>
</div>
     


</div>

<script type="text/javascript">
  $(function(){
    analytics.page(unescape("{{ page.title | escape }}"));
  });
//         function crossDomainPost(url, params) {
//         // Add the iframe with a unique name
//         var iframe = document.createElement("iframe");
//         var uniqueString = "cd-form-" + Math.round(Math.random() * 10000);
//         document.body.appendChild(iframe);
//         iframe.style.display = "none";
//         iframe.contentWindow.name = uniqueString;

//         // construct a form with hidden inputs, targeting the iframe
//         var form = document.createElement("form");
//         form.target = uniqueString;
//         form.action = url;
//         form.method = "POST";

//         // repeat for each parameter
//         for (var param_name in params) {
//             var input = document.createElement("input");
//             input.type = "hidden";
//             input.name = param_name;
//             input.value = params[param_name];
//             form.appendChild(input);
//         }

//         document.body.appendChild(form);
//         form.submit();
//     }
// 	jQuery( document ).ready(function($) {
// 	$('#nyc-mailing-list .btn').click(function(e) {
//       e.preventDefault();

//         var email = $('input#user-email').val();
//       	console.log(email);

//         if (!email) {
//             // parent.find('.email .form-error').removeClass('hidden');
//         } else {
//             $.cookie('joined_mailing_list', true, {expires: 36500, path: "/"});
//             // submit to analytics
//             analytics.alias(email);
//             analytics.identify(email, {
//                 email: email
//             });

//             analytics.track('Joined Mailing List', {
//                 referring_page: document.title.split(' | ')[0]
//             });

//             // send to google docs

//             crossDomainPost('https://docs.google.com/forms/d/14w08DL0TGgGbiFwEtNMyNyq-YxhtXjM0lFBoyGb_Edg/formResponse', {
//                 'entry.659530670': email,
//                 'entry.1989690552': document.title.split(' | ')[0]
//             });

//             parent.html("<center><span class=newsHeader></span><p class=popupthankyou>Thank you for joining us!</p></center>");
//             $('#newsBox').height(160);
//         }
//     });
//   });
</script>