<div id="page">
  <!--googleoff: snippet--> <h2>{{ page.title }}</h2> <!--googleon: snippet-->
   <div class="two columns" style=" padding-right:5px;padding-top:0px;"></div>
     <div class="eight columns">    
     <h2  style="font-weight:600;text-align:center;">Our fit process and philosphy</h2>
    <p>
We take fit seriously. All of our clothing is fit to the same professional fit models so that we can ensure our garments run true to size. Our straight sizes (00-14) are fit to a size 6 fit model, and our plus sizes 14W-20W are fit to a size 16W fit model. But we know there is no such thing as one dress fits all, so we’ve purposely designed our collection with a wide range of shapes, cuts, and hemlines to meet the varied needs of all women. 
     </div>
      <div class="two columns" style="padding-right:5px">      </div>
  <div class="clear"></div>
  
  <div class="six columns" style="padding-right:5px">
     <h2 style="font-weight:600">Find Your Fit</h2> 
    <p>Please use the size chart and the measuring guide below to help you select your size. 
</p>
    
    
    
      <h2 style="padding-bottom:0px;margin-bottom:2px">US Size Chart (in inches)</h2> 
     <img src="{{ 'OmStraightSizeGuide.png' | asset_url }}" alt="Of Mercer Size Guide">
   <h2 style="padding-bottom:0px;margin-bottom:2px">US Plus Size Chart (in inches)</h2> 
  
     <img src="{{ 'OmPlusSizeGuide.png' | asset_url }}" alt="Of Mercer Size Guide">
  
  </div>
   <div class="one columns" ></div>
 <div class="five columns" style="padding-right:0px;">
    <img src="{{ 'SizeGuidePlus-HowToMeasure1.jpg' | asset_url }}" alt="Of Mercer Size Guide">
    </div>
  
   <div class="clear"></div>
  
  
   <div class="two columns" style="padding-right:5px;padding-top:0px;font-weight:600"></div>
     <div class="eight columns">    
     <h2  style="font-weight:600;text-align:center;">Need help?</h2>
    <p>
      If you have any questions at all about how a particular piece fits or need help selecting the right size or style, please don’t hesitate to contact us. You can email us anytime at <a href="mailto:info@ofmercer.com?Subject=I have a question about sizing" target="_top">info@ofmercer.com</a> or call us at (212) 979-2229 during our regular store business hours. 
       </p>
  </div>
      <div class="two columns" style="padding-right:5px">      </div>
  <div class="clear"></div>
  
  
  


</div>


<script type="text/javascript">
  $(function(){
    analytics.page(unescape("{{ page.title | escape }}"));
  });
</script>