{% assign page_meta_info = ['page'].metafields.custom_fields %}
{% if page_meta_info['page_tagline'].size > 0 %}
	{% assign page_tagline = page_meta_info['page_tagline'] %}
{% else %}
	{% assign page_tagline = "We're here to help" %}
{% endif %}
<div id="faq-page">
  <div class="fullside">
      <img src="{{ 'MaternityBanner.jpg' | asset_url }}" alt="{{ collection.image.alt }}" >
      <div class="msg-group">	
          <h4>{{ page.title | escape }}</h4>
          <h1>{{ page_tagline }}</h1> 
      </div>
  </div>
  <div class="contact-info">
  	<div class="rte wrapper slim-wrapper">
      <h3>About Of Mercer Maternity</h3>
      <p>Our mission as a brand has always been to outfit the professional woman throughout all aspects of her day and her career. That includes serving her in a key part of her life – during and post-pregnancy. So we designed a maternity collection that will seamlessly take a working mama-to-be from early pregnancy, when she’s perhaps hiding her bump, to her 9th month (when hiding isn’t an option!), and through her post-partum nursing and beyond.</p>
      <p><br>Coming Late October...</p>
    </div>
  </div><!-- END contact info -->
  <div class="copy-block">
    <div class="wrapper slimmest-wrapper">  
     <h3>Get on the Waitlist </h3> </div>
    <p>Sign up and first to know when our maternity collection launches.</p>
       <div class="wrapper slimmest-wrapper-more">  
     <script type="text/javascript" src="https://form.jotform.com/jsform/72845700859971"></script>
   
  
  </div><!-- END wrapper -->
</div><!-- END page -->




<script type="text/javascript">
  $(function(){
    analytics.page(unescape("{{ page.title | escape }}"));
  });
</script>

<script>
 $(document).ready(function() {
 
    $('.faq_question').click(function() {
      	var answerContainer = $(this).siblings('.faq_answer_container');
      	if (answerContainer.css('display') == 'block') {
        	$(this).children('span').html("+");
        } else {
            $(this).children('span').html("&ndash;");
        }
 		answerContainer.slideToggle();

    });
 
});
</script>